.auth {

    .wrapper {
        position : relative;

        .logo {
            img {
                width : 8rem;
            }
        }

        .card {
            box-shadow    : 0 6px 12px rgba(140, 152, 164, .075);
            border        : .0625rem solid rgba(231, 234, 243, .7);
            border-radius : .75rem;

            .card-body {
                padding : 2rem 2rem;

                .avatar {
                    width : 10.5rem;
                }

                .title {
                    font-size   : 1.75rem;
                    font-weight : 600;
                    line-height : 1.4;
                }

                p {
                    color : #677788;
                }


            }

        }

    }

}