/*---------------------------------------------------------------------------*
 * 1.  Display
 * 2.  Images
 * 3.  Background
 * 4.  Fonts size
 * 5.  Font weight
 * 6.  Text
 * 7.  Cursores
 * 8.  Height
 * 9.  Border
 * 10. Padding
 * 11. Line height
 * 12. Position
 * 13. Text align
 * 14. Opacity
 * 15. Position
 * 16. z-index
 * 17. Width
 * 18. Left
 * 19. Right
 *---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------*
 * 1. Display
 *---------------------------------------------------------------------------*/
.d-grid {
    display : grid !important;
}


/*---------------------------------------------------------------------------*
 * 1. Fonts size
 *---------------------------------------------------------------------------*/
.f-11 {
    font-size : 11px;
}

.f-14 {
    font-size : 14px;
}


/*---------------------------------------------------------------------------*
 * 7. Cursores
 *---------------------------------------------------------------------------*/
.cursor-pointer {
    cursor : pointer !important;
}

/*---------------------------------------------------------------------------*
 * 5. Font size
 *---------------------------------------------------------------------------*/
.f-10 {
    font-size : 10px;
}

/*---------------------------------------------------------------------------*
 * 5. Font weight
 *---------------------------------------------------------------------------*/
.font-weight-semibold {
    font-weight : 600 !important;
}

.font-weight-medium {
    font-weight : 500 !important;
}


.h1, .h2, .h3, .h4, .h5, .h6 {
    color : #1e2022;
}

.text-muted {
    color : #8c98a4 !important;
}

/*---------------------------------------------------------------------------*
 * 11. Line height
 *---------------------------------------------------------------------------*/
.line-height-16 {
    line-height : 16px;
}



/*---------------------------------------------------------------------------*
 * 17. Width
 *---------------------------------------------------------------------------*/
.w-20p {
    width : 20px;
}

.wid-40 {
    width : 40px;
}

/*---------------------------------------------------------------------------*
 * 18. Left
 *---------------------------------------------------------------------------*/
.left-10{
    left: 10px;
    right: 10px;
}



/*---------------------------------------------------------------------------*
 * 19. Right
 *---------------------------------------------------------------------------*/
.right-10{
    right: 10px;
}