.modal.fade .modal-dialog.modal-dialog-zoom {
    -webkit-transform : translate(0, 0) scale(.5);
    transform         : translate(0, 0) scale(.5);
}

.modal.show .modal-dialog.modal-dialog-zoom {
    -webkit-transform : translate(0, 0) scale(1);
    transform         : translate(0, 0) scale(1);
}

.modal-form {

    [class*="col-"] {
        margin-bottom : 0.5rem;
    }

    .text-truncate {
        height : 15px;
    }

    .modal-dialog {
        .modal-content {
            .modal-header {
                border-bottom  : 0;
                padding-bottom : 0;

                .modal-title {
                    font-weight : 600;
                }
            }

            .modal-body {
            }

            .modal-footer {
                border-top  : 0;
                padding-top : 0;
            }
        }
    }

}

.modalLoading, .modal-confirmation {
    .modal-dialog {
        max-width : 400px;

        .modal-content {
            border : 0 !important;

            .modal-body {
                text-align : center;

                img {
                    width : 100px;
                }
            }

            .modal-footer {
                p {
                    font-size   : 12px;
                    text-align  : center;
                    font-weight : 600;
                }
            }
        }
    }
}